.dog{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 37vh;
    border: 1px solid #1b1c1e;
    margin: 5px;
    background-color: #1f1f1f;
    border-radius: 50%;
    animation: slide 1s forwards;
}
@keyframes slide{
    from{
        top: 100vh;
    } to{
        top: 0;
    }
}
.dog:hover>.dogImg{
    position: absolute;
    transform: scale(1.1);
    opacity: 0.25;
}
.dog:hover>.info{
    position: absolute;
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dogName{
    position: relative;
    display: flex;
    width: 18vw;
    font-size: 1.5vw;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 48vh 0vw 0vh 0vw;
    z-index: 100;
    font-family: "monocraft";
}
.dogImg{
    width: 220px;
    height: 33vh;
    max-width: 220px;
    max-height: 33vh;
    border-radius: 50%;
    position: absolute;
}
.info{
    display: none;
}
.dogTemp{
    display: flex;
    font-size: 1.1vw;
    font-family: "monocraft";
    color: rgb(255, 255, 255);
}
.dogWeight{
    display: flex;
    font-size: 1vw;
    font-family: "monocraft";
    color: rgb(255, 255, 255);
}
@media (max-width: 720px){
    .dog{
        width: 250px;
        height: 350px;
    }
    .dogName{
        position: absolute;
        display: flex;
        width: 30vw;
        font-size: 6vw;
        justify-content: center;
        margin: 40vh 0vw 0vh 0vw;
        z-index: 100;
    }
    .dogImg{
        width: 220px;
        height: 310px;
        max-width: 220px;
        max-height: 310px;
    }
    .dogTemp{
        display: flex;
        font-size: 3vw;
    }
    .dogWeight{
        display: flex;
        font-size: 3vw;
    }
}