.dogImg{
    width: auto;
    height: auto;
    max-width: 25vw;
    max-height: 40vh;
    border-radius: 2vw;
}
.createdTitle {
    margin: 0 0 5vh 0;
    color: rgb(255, 255, 255);
    font-family: "monocraft";
}
.dogCreated {
    grid-area: DogCreated;
    width: 40vw;
    height: auto;
    margin: 2vh 50vw 2vh 0vw;
    padding: 5vh 0;
    border-radius: 2vw;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
    font-family: "monocraft";
    font-weight: 100;
}
.tempsArea{
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
.tempLabel{
    display: flex;
    flex-direction: row;
}
.tempName{
    margin-right: 0.5vw;
}
.buttonLabel{
    width: 1.5vw;
    height: 3.2vh;
    border-radius: 50%;
    background-color: rgba(233, 4, 4, 1);
    color: white;
    border: 1px rgb(255, 255, 255) solid;
    justify-content: center;
    cursor: pointer;
}
.backArea {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.backButton {
    background-image: url("../icons/DogHome.png");
    background-color: rgb(255, 255, 255);
    background-size: 4vw 9vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    width: 6vw;
    height: 12vh;
    margin: 0 0 5vh 1vw;
}

.backButton:hover {
    transform: scale(1.2);
}

.backTitle {
    margin: 2vh 0.5vw 1vh 0;
    font-size: 1.8vw;
    color: rgb(255, 255, 255);
    font-family: "monocraft";
    margin: 0 1vw 5vh 1vw;
    font-weight: 100;
}
.backFormButton {
    background-image: url("../icons/DogForm.png");
    background-color: rgb(255, 255, 255);
    background-size: 50px 70px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 80px;
    margin: 2vh 0vw;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    cursor: pointer;
}
.backFormTitle{
    font-size: 4vw;
    margin: 0vh 0vw;
    font-weight: 100;
}

.backFormArea {
    display: none;
}

@media (max-width: 720px) {
    .dogCreated {
        width: 400px;
    }
    .tempsArea{
        width: 400px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        margin: 4vh 0vw 0vh 0vw;
    }
    .tempLabel{
        display: flex;
        flex-direction: row;
        width: 190px;
    }
    .buttonLabel{
        width: 20px;
        height: 24px;
        margin: 0vh 0vw 4vh 2vw;
    }
    .backButton {
        background-image: url("../icons/DogHome.png");
        background-color: rgb(255, 255, 255);
        background-size: 50px 70px;
        background-position: center;
        background-repeat: no-repeat;
        width: 60px;
        height: 80px;
        margin: 2vh 0vw;
    }
    .backTitle{
        font-size: 4vw;
        margin: 0vh 0vw;
    }

    .backArea {
        grid-area: CreateButton;
        width: 200px;
        margin: 2vh 0vw 0vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backFormArea {
        width: 200px;
        margin: -15.4vh 0vw 0vh 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}