.containerErr {
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.errImg {
    width: 25vw;
    height: 51vh;
    max-width: 25vw;
    max-height: 51vh;
    border-radius: 50%;
    border: 5px #1f1f1f solid;
}

.errTitle {
    font-family: "monocraft";
    color: white;
}

.backArea {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.backButton {
    background-image: url("../icons/DogHome.png");
    background-color: rgb(255, 255, 255);
    background-size: 4vw 9vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    width: 6vw;
    height: 12vh;
    margin: 0 0 5vh 1vw;
}

.backButton:hover {
    transform: scale(1.2);
}

.backTitle {
    margin: 2vh 0.5vw 1vh 0;
    font-size: 1.8vw;
    color: rgb(255, 255, 255);
    font-family: "monocraft";
    margin: 0 1vw 5vh 1vw;
    font-weight: 100;
}
@media (max-width: 720px){
    .errImg {
        width: 250px;
        height: 350px;
        max-width: 250px;
        max-height: 350px;
    }
    .backButton {
        background-image: url("../icons/DogHome.png");
        background-color: rgb(255, 255, 255);
        background-size: 50px 75px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 1px rgb(0, 0, 0) solid;
        width: 70px;
        height: 100px;
        margin: 0 0 5vh 1vw;
    }
    .backTitle {
        font-size: 4vw;
    }
    .backArea{
        margin-top: 10vh;
    }
}