.form {
    grid-template-rows: auto;
    grid-template-areas:
        "Form"
        "Buttons";
    width: 400px;
    margin: 2vh 0vw 2vh 50vw;
    padding: 5vh 0;
    border-radius: 2vw;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
    font-family: "monocraft";
    font-weight: 100;
}

.form>div>h3 {
    margin: 1vh 0;
    font-size: 4vw;
    color: rgb(255, 255, 255);
    font-family: "monocraft";
    font-weight: 100;
}

.inputArea {
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px rgb(0, 0, 0) solid;
    font-family: "monocraft";
    font-weight: 100;
}

.buttonsArea{
    grid-area: Buttons;
    display: flex;
    flex-direction: row;
}

.createArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0vh 0vw 0vh 0vw;
}

.createButton {
    background-image: url("../icons/AddDog.png");
    background-color: rgb(255, 255, 255);
    background-size: 50px 70px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    cursor: pointer;
    width: 60px;
    height: 80px;
    margin: 2vh 0vw;
}

.createButton:hover {
    transform: scale(1.2);
}

.createTitle {
    margin: 0vh 0vw 0vh 0;
    color: rgb(255, 255, 255);
    font-family: "monocraft";
    font-weight: 100;
    font-size: 4vw;
    margin: 0vh 0vw;
}

.title {
    margin: 0 0 5vh 0;
    color: rgb(255, 255, 255);
    font-family: "monocraft";
}

.backButton {
    background-image: url("../icons/dogIcon.png");
    background-color: rgb(255, 255, 255);
    background-size: 50px 70px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 80px;
    margin: 2vh 0vw;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    cursor: pointer;
}

.backTitle {
    font-size: 4vw;
    margin: 0vh 0vw;
    font-weight: 100;
}

.backArea {
    position: absolute;
    width: 200px;
    margin: 0vh 0vw 0vh 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}