.options{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.createButton{
    background-image: url("../icons/AddDog.png");
    background-size: 5vw 12vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 7vw;
    height: 14vh;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(255, 255, 255);
}
.createButton:hover{
    transform: scale(1.2);
}
.researchButton{
    background-image: url("../icons/dogIcon.png");
    background-size: 5vw 11vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 16vh;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(255, 255, 255);
}
.researchButton:hover{
    transform: scale(1.2);
}
.filterButton{
    background-image: url("../icons/FilterDog.png");
    background-size: 3.5vw 8vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 7vw;
    height: 14vh;
    border-radius: 50%;
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(255, 255, 255);
    z-index: 300;
}
.filterButton:hover{
    transform: scale(1.2);
}
.filterOptions{
    width: 80vw;
    height: 14.3vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 16vw;
    margin-top: -15vh;
    animation: slideFilter 0.5s backwards;
}
.filterOptions>div{
    animation: slideFilter 0.5s backwards;
}
@keyframes slideFilter{
    from{
        width: 0vw;
    }
    to{
        width: 75vw;
    }
}
@keyframes slideFilterResponsive{
    from{
        height: 0vw;
    }
    to{
        height: 20vh;
    }
}

@media (max-width: 720px){
    .createButton{
        background-image: url("../icons/AddDog.png");
        background-size: 50px 75px;
        background-repeat: no-repeat;
        background-position: center;
        width: 70px;
        height: 105px;
        border-radius: 50%;
        border: 1px rgb(0, 0, 0) solid;
        background-color: rgb(255, 255, 255);
    }
    .createButton:hover{
        transform: scale(1.2);
    }
    .researchButton{
        background-image: url("../icons/dogIcon.png");
        background-size: 50px 75px;
        background-repeat: no-repeat;
        background-position: center;
        width: 80px;
        height: 120px;
        border-radius: 50%;
        border: 1px rgb(0, 0, 0) solid;
        background-color: rgb(255, 255, 255);
    }
    .researchButton:hover{
        transform: scale(1.2);
    }
    .filterButton{
        background-image: url("../icons/FilterDog.png");
        background-size: 35px 54px;
        background-repeat: no-repeat;
        background-position: center;
        width: 70px;
        height: 105px;
        border-radius: 50%;
        border: 1px rgb(0, 0, 0) solid;
        background-color: rgb(255, 255, 255);
        z-index: 300;
    }
    .filterButton:hover{
        transform: scale(1.2);
    }
    .filterOptions{
        width: auto;
        height: 40vh;
        display: flex;
        flex-direction: row;
        position: absolute;
        margin: 6vh 0vw 0vh 13vw;
        animation: slideFilterResponsive 0.5s forwards;
        z-index: 1000;
    }
    .filterOptions>div{
        animation: slideFilterResponsive 0.5s forwards;
    }
}
