.orderButtons{
    width: 35vw;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    justify-content: space-around;
    font-family: "monocraft";
    font-weight: 100;
    font-size: 1vw;
}
@media (max-width: 720px){
    .orderButtons{
        width: 100%;
        height: auto;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "monocraft";
        font-weight: 100;
        font-size: 3vw;
    }
}