.navbar {
    width: 96vw;
    height: 9vh;
    background-color: #1f1f1f;
    margin-bottom: 2vh;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInput {
    margin: 0vh 1vw;
    height: 4vh;
    border-radius: 5vw;
    padding: 0 2vw 0 1vw;
    font-family: "monocraft";
}

.submitInput {
    margin: 0vh 2vw 0 0;
    border-radius: 50%;
    background-image: url("../icons/SearchDog.png");
    background-size: 3vw 7vh;
    background-repeat: no-repeat;
    background-position: 0.4vw 0.6vh;
    background-color: #1f1f2f;
    width: 3vw;
    height: 7vh;
    cursor: pointer;
}

.submitInput:hover {
    transform: scale(0.8);
}

@media (max-width: 720px) {
    .textInput {
        margin: 0vh 1vw;
        height: 4vh;
        width: 80%;
        border-radius: 5vw;
        padding: 0 2vw 0 1vw;
        font-family: "monocraft";
    }
    .submitInput {
        margin: 0vh 2vw 0 0;
        border-radius: 50%;
        background-image: url("../icons/SearchDog.png");
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: 0.4vw 0.6vh;
        background-color: #1f1f2f;
        width: 350px;
        height: 350px;
        cursor: pointer;
    }
}